*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Header Banner Start */
.banner{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contentArea{
    width: 50%;
    height: 100%;
    padding: 216px 230px 166px 0;
    text-align: right;
}

.contentArea h1{
    font-size: 45px;
    line-height: 50px;
}

.contentArea p{
    font-size: 16px;
    margin: 20px 0;
}

.primaryBtn{
    width: 160px;
    height: 54px;
    background-color: #F15B22;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/* Header Banner End */

/* myFailuresContainer Section Start */

.myFailuresContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0 0;
}

.profileImage{
    width: 60%;
    margin: 30px 10px 30px 100px;
}

.profileImage img{
    width: 570px;
    height: 724px;
}

.failuresContent{
    width: 40%;
    padding-right: 100px;
}

.failuresContent h2{
    font-size: 40px;
    line-height: 50px;
}

.failuresContent p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.checkboxContainer{
    font-size: 16px;
    line-height: 25px;
}

.checkboxContainer i{
    color: #16D887;
    margin-right: 10px;
}
/* My Failures Section End  */

/* My Plans Section Start */
.myPlans{
    width: 80%;
    margin: 70px auto 100px auto ;
    text-align: center;
}

.myPlans h2{
    font-size: 40px;
    margin-bottom: 30px;
}


.skillContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill img{
    width: 92px;
    height: 92px;
}

.skill h3{
    font-size: 22px;
    color: #151414;
}

.skill p{
    font-size: 16px;
    color: #737272;
}
/* My Plans Section End */

/* Watch Section Start */
.watch{
    width: 83%;
    height: 300px;
    margin: 0 auto 130px auto ;
    background-image:
    linear-gradient(to right, rgb(241, 91, 34), rgba(241, 93, 34, 0)),
    url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watchContent{
    width: 50%;
    text-align: left;
    margin-left: 65px;
}

.watchContent h2{
    font-size: 40px;
    color: white;
    line-height: 50px;
}

.secondaryBtn{
    width: 160px;
    height: 54px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    color: #F15B22;
    margin-top: 20px;
    border-radius: 5px;
}
/* Watch Section Start */

/* Blog Section Start */

.blog{
    width: 80%;
    margin: 0 auto 60px auto;
}

.blog h2{
    font-size: 40px;
    text-align: center;
    color: #F15B22;
}

.blogContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.blogPost{
    width: 200px;

}

.blogPost img{
    width: 200px;
    border-radius: 5px;
}

.blogPost h3{
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
    color: #F15B22;
    cursor: pointer;
}

.blogPost h3:hover{
    color: #878686;
}

/* Blog Section End */

/* Footer Container Start */

.footerContainer{
    width: 100%;
    height: 470px;
    padding: 130px 230px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;

}

.future{
    width: 50%;
}

.future h2{
    font-size: 45px;
    font-weight: bold;
}


.future p{
    font-size: 16px;
    margin: 15px 0;
}

.contactInfo{
    line-height: 30px;
}

.socialIconContainer{
    display: flex;
    gap: 17px;
    margin-top: 20px;
}

.socialIconContainer img{
    height: 46px;
    width: 46px;
    cursor: pointer;
}
.subscribe h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.subscribe input{
    width: 325px;
    height: 40px;
    padding: 3px 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 16px;

}
